*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;

}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(213, 205, 205);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}