ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: beige;
    padding-right: 10px;
    height:40px;
    padding-top: 10px;
}

.active-link{
    border: 2px solid red;
}