*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-color: rgba(28, 23, 23, 0.836);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
  
  
  

}